@font-face {
    font-family: 'BebasNeueBook';
    src: url('fonts/BebasNeueBook.eot');
    src: url('fonts/BebasNeueBook.eot') format('embedded-opentype'),
         url('fonts/BebasNeueBook.woff2') format('woff2'),
         url('fonts/BebasNeueBook.woff') format('woff'),
         url('fonts/BebasNeueBook.ttf') format('truetype'),
         url('fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
}
